@(title: String)(content: String)(nRows: Int, nCols: Int)

<!DOCTYPE html>
<html>
  <!-- http://bl.ocks.org/WilliamQLiu/bd12f73d0b79d70bfbae -->
  <!-- http://www.d3noob.org/2013/01/adding-grid-lines-to-d3js-graph.html -->
  <head>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/scatter.css")">
    <script src="@routes.Assets.versioned("javascripts/scatter.js")" type="text/javascript"></script>
  </head>

  <body>
    <h2>Robakka web app demo</h2>
    <p>Legend of dots:</p>
    <ul>
    <li>black: plants</li>
    <li>red: team A</li>
    <li>green: team B</li>
    </ul>
    <h3></h3>
  </body>
</html>
