
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Checkerboard</title>
  <style>
    body {
      background-color:#eee;
      font:12px sans-serif;
    }
    #page {
      display:block;
      margin:0 auto;
    }
    #board {
      margin-bottom:1em;
    }
    .bordered {
      border:1px solid #eee;
    }
    .light rect {
      fill: #fff;
    }
    .dark rect {
      fill: steelblue;
    }
  </style>
</head>
<body>
  <div id="page"></div>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script>
    var s = 75;
    var rows = [8,7,6,5,4,3,2,1];
    var columns = ["a","b","c","d","e","f","g","h"];
    var page = d3.select("div#page")
        .attr("style","width:" + (s * rows.length + 1) + "px;");
    var header = page.append("div")
        .attr("id","header");
    var title = header.append("h1")
        .attr("id","title")
        .text("Checkerboard");
    var board = page.append("svg")
        .attr("id","board")
        .attr("height", s * rows.length)
        .attr("width", s * columns.length);
    var tile_layer = board.selectAll("g");
    var tiles = [];
    for(i in columns){
      var c = i
      column = columns[i]
      for(i in rows){
        row = rows[i]
        tiles.push(
          {
            column: column,
            row: row,
            name: column + row,
            color: colorAlternator(parseInt(c) + parseInt(i)),
            x:parseInt(c),
            y:parseInt(i)
          }
        );
      };
    }; //tiles = [{column: "a", row: 1, name: "a1"} ... {column: "g", row: 8, name: "g8"}]

    var tile = tile_layer.data(tiles).enter().append("g")
        .attr("id", function(d){
          return d["name"]
        })
        .attr("class", function(d, i){
          return "space" + " " + d["column"] + " " + d["row"] + " " + d["color"]
        })
        .attr("transform", function(d, i) { 
          return "translate(" + (d["x"] * s) + "," + (d["y"] * s) + ")";
        });
    var tile_square = tile.append("rect")
        .attr("width",s)
        .attr("height",s)
        .attr("stroke","#000");
    var tile_text = tile.append("text")
        .attr("x", function(d){
          return d["x"]
        })
        .attr("y", function(d){
          return d["y"]
        })
        .text(function(d) {
          return d["name"];
        })
        .attr("dy", "10px")
        .attr("dx", "3px");
    var footer = page.append("div").attr("id","footer");
    var source = footer.append("a").attr("href","https://github.com/s2t2/checkerboard").text("source");
    function colorAlternator(n){
      if(n % 2 == 0){ 
        return "light"
      }
      else { 
        return "dark"
      }
    };
    
    tile_square.on("mouseover", fillBlue)
    tile_square.on("click", fillWhite)
    //tile_square.on("dblclick", fillWhite)
    //tile_square.on("mouseout", fillRed)
    //tile_square.on("mouseover", function(d){
    //  
    //});
    ////tile_square.on("mouseout", fillBlack)
    //tile_square.on("click", fillCheckered()) // function(d){return d.x + d.y;}
    //tile_square.on("dblclick", fillWhite)
    function fillWhite(){
      d3.select(this).style("fill", "white")
    };
    
    function fillBlack(){
      d3.select(this).style("fill", "black")
    };
    
    function fillBlue(){
      d3.select(this).style("fill", "steelblue")
    };
    
    function fillRed(){
      d3.select(this).style("fill", "red")
    };

	  var feed = new EventSource("/metricsFeed");

	  function handler(msg) {
	    var data = JSON.parse(msg.data);
	    console.log(data)
	    // fill a3 rectangle red
	    d3.select('#a3 > rect').style("fill", "red")
	  }
	  feed.addEventListener("message", handler, false);

    //var something;
    //function fillCheckered(){
    //  something = d3.select(this);
    //  console.log(something)
    //  
    //  //if(n % 2 == 0){
    //  //  fillWhite()
    //  //}
    //  //else { 
    //  //  fillBlue()
    //  //}
    //};
  </script>
</body>
</html>
